@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: #f5f5f5;
  --foreground: #0a0a0a;
  --card: #f0f0f0;
  --card-foreground: #0a0a0a;
  --popover: #ededed;
  --popover-foreground: #0a0a0a;
  --primary: #1a1a1a;
  --primary-foreground: #f5f5f5;
  --secondary: #ededed;
  --secondary-foreground: #1a1a1a;
  --muted: #ededed;
  --muted-foreground: #767676;
  --accent: #ededed;
  --accent-foreground: #1a1a1a;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #d6d6d6;
  --input: #d6d6d6;
  --ring: #a5a5a5;
  --chart-1: #575757;
  --chart-2: #767676;
  --chart-3: #434343;
  --chart-4: #a5a5a5;
  --chart-5: #d6d6d6;
  --sidebar: #504137;
  --sidebar-foreground: #f7f6f3;
  --sidebar-primary: #f7f6f3;
  --sidebar-primary-foreground: #504137;
  --sidebar-accent: #5f4d41;
  --sidebar-accent-foreground: #f7f6f3;
  --sidebar-border: #725d4b;
  --sidebar-ring: #9b8865;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #1a1a1a;
  --card-foreground: #fafafa;
  --popover: #1a1a1a;
  --popover-foreground: #fafafa;
  --primary: #ededed;
  --primary-foreground: #1a1a1a;
  --secondary: #292929;
  --secondary-foreground: #fafafa;
  --muted: #292929;
  --muted-foreground: #a5a5a5;
  --accent: #292929;
  --accent-foreground: #fafafa;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #434343;
  --input: #434343;
  --ring: #767676;
  --chart-1: #ededed;
  --chart-2: #a5a5a5;
  --chart-3: #ededed;
  --chart-4: #767676;
  --chart-5: #f5f5f5;
  --sidebar: #1a1a1a;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #ededed;
  --sidebar-primary-foreground: #1a1a1a;
  --sidebar-accent: #292929;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #434343;
  --sidebar-ring: #767676;
}


@theme inline {
  --font-sans: 'Figtree Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
